.idea*
*.DS_Store
/build/
modules/
cmake-build*
.vscode
logs/
results/
venv/
extras/desktop/models/stateful-rnn/stateful-lstm/
extras/desktop/models/hybrid-nn/GuitarLSTM/
extras/desktop/models/cnn/steerable-nafx/
extras/desktop/models/model-pool/example-models/
