.idea*
*.DS_Store
/build/
modules/
cmake-build*
.vscode
logs/
results/
venv/
extras/models/stateful-rnn/stateful-lstm/
extras/models/hybrid-nn/GuitarLSTM/
extras/models/cnn/steerable-nafx/
extras/models/model-pool/example-models/
extras/models/third-party/ircam-acids/RAVE/
